.big-banner{

    width: auto;
    height: 380px;
    /* background-size: cover; */
}

.big-banner.bg-dashboard{
    height: 380px;
    background-image: url('../img/bg.jpg');
    background-size: cover;

}

.food-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.selected-item img {
    max-width: 50px; /* Set the maximum width for the selected item image */
    margin-right: 10px;
}
