.big-banner{

    width: auto;
    height: 380px;
    /* background-size: cover; */
}

.big-banner.bg-dashboard{
    height: 380px;
    background-image: url('../img/bg.jpg');
    background-size: cover;

}

.food-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.selected-item img {
    max-width: 50px; /* Set the maximum width for the selected item image */
    margin-right: 10px;
}

/* qrcode */
.qr-code-container {
    text-align: center;
}


/* topbar */
.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust z-index as needed */
    background-color: #fff; /* Adjust background color as needed */
    /* Add other styles as needed */
}

